.navbar {
    position: fixed;
    z-index: 99;
    inset: 0;
    top: 64px;
    display: flex;
    justify-content: flex-end;
    transform: translateX(100%);
    transition: ease 0.3s;
    overflow: hidden;
}

.navbar.open {
    transform: translateX(0);
}

.menu {
    width: 100%;
    padding-inline: 16px;
    list-style: none;
    width: 100%;
    background-color: var(--background-primary-color);
    transition: ease 0.3s;
    .item {
        width: 100%;
        padding-block: 16px;
        border-top: 1px solid var(--border-color);
    }
}

.navlink {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    gap: 8px;
    padding-block: 8px;
    font-weight: 600;
    text-transform: uppercase;
    width: max-content;
    color: var(--foreground-primary-color);
    overflow: hidden;
    cursor: pointer;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 20%;
        right: 20%;
        height: 1px;
        background-color: var(--foreground-primary-color);
        transform: translateX(-200%);
        transition: ease 0.3s;
        display: none;
    }
    &:hover::after {
        transform: translateX(0);
    }
}

@media (min-width: 1024px) {
    .navbar {
        position: static;
        transform: none;
        transition: none;
        animation: none;
    }
    .menu {
        display: flex;
        align-items: center;
        background-color: transparent;
        .item {
            padding: 0;
            border: none;
        }
        .item + .item {
            margin-left: 16px;
        }
    }
    .navlink::after {
        display: initial;
    }
}
